/* Custom styles for Case Studies Page */

/* Gradient Text */
.case-studies-text-gradient {
  background: linear-gradient(to right, #EE001C, #7e22ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Custom Scrollbar for Filters */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
